   {% extends 'base.html' %}
   {% load static %}
   {% block content %}

    <div class="container">
      <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <nav aria-label="Breadcrumb">
              <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Blog</li>
              </ul>
            </nav>
            <h1 class="text-center">Blog</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <form action="#" class="form-search-blog">
            <div class="input-group">
              <div class="input-group-prepend">
                <select id="categories" class="custom-select bg-light">
                  <option>All Categories</option>
                  <option value="travel">Travel</option>
                  <option value="lifestyle">LifeStyle</option>
                  <option value="healthy">Healthy</option>
                  <option value="food">Food</option>
                </select>
              </div>
              <input type="text" class="form-control" placeholder="Enter keyword..">
            </div>
          </form>
        </div>
        <div class="col-sm-2 text-sm-right">
          <button class="btn btn-secondary">Filter <span class="mai-filter"></span></button>
        </div>
      </div>

      <div class="row my-5">
      {%for i in page.object_list%}

        <div class="col-lg-4 py-3">
          <div class="card-blog">
            <div class="header">
              <div class="post-thumb">
                <img src="{{i.image.url}}" alt="">
              </div>
            </div>
            <div class="body">
              <h5 class="post-title"><a href="{% url 'blog-details' %}">{{i.content}}</a></h5>
              <div class="post-date">Posted on <a href="#">{{i.date}}</a></div>
            </div>
          </div>
        </div>
      {%endfor%}
      </div>

      <nav aria-label="Page Navigation">
        <ul class="pagination justify-content-center">
          {%if page.has_previous%}
          <li class="page-item">
            <a class="page-link" href="{%url 'blog'%}?page={{page.previous_page_number}}">Previous</a>
          </li>
          {%endif%}

          <li class="page-item"><a class="page-link" href="#">{{page.number}}</a></li>
          {%if page.has_next%}
          <li class="page-item">
            <a class="page-link" href="{%url 'blog'%}?page={{page.next_page_number}}">Next</a>
          </li>
          {%endif%}
        </ul>
      </nav>

    </div>
  </div>

  {% endblock %}